.shiki-wrapper {
  @apply rounded-md overflow-hidden;

  @apply bg-accent/40;

  :global {
    .shiki,
    code,
    .shiki-magic-move-container {
      @apply !bg-transparent w-full;
    }

    pre {
      @apply !m-0 overflow-auto p-2 !shadow-none w-full;
    }

    .shiki-magic-move-container {
      font-size: max(min(0.75em, 14px), 14px);
      line-height: 1.3;
    }

    pre code {
      @apply !flex flex-col;
      font-size: max(min(0.75em, 14px), 14px);
      line-height: 1.3;
    }

    .line {
      @apply block;

      & > span:last-child {
        @apply mr-5;
      }

      /* 撑开没有内容的行 */
      &::after {
        content: ' ';
      }
    }

    .highlighted,
    .diff {
      @apply relative break-all;

      &::before {
        @apply absolute left-0 top-0 h-full w-[2px];
        content: '';
      }
    }

    .diff.add {
      @apply bg-green-100 dark:bg-green-900;

      &::before {
        @apply bg-green-500;
      }

      &::after {
        content: ' +';
        @apply absolute left-0 text-green-500;
      }
    }

    .diff.remove {
      @apply bg-red-100 dark:bg-red-900;

      &::before {
        @apply bg-red-500;
      }

      &::after {
        content: ' -';
        @apply absolute left-0 text-red-500;
      }
    }

    .highlighted {
      @apply bg-secondary/80 w-full;

      &::before {
        @apply bg-secondary;
      }
    }
  }

  pre {
    @apply rounded-none;
  }
}
