.shiki-wrapper {
  @apply rounded-md overflow-hidden;

  @apply bg-accent/20;

  :global {
    .shiki,
    code {
      @apply !bg-transparent;
    }

    pre {
      @apply !m-0 overflow-auto p-2 !shadow-none w-full;

      font-size: min(0.85em, 16px);
    }

    pre code {
      @apply flex flex-col;
    }

    .line {
      @apply block leading-[1rem];

      & > span:last-child {
        @apply mr-5;
      }

      /* 撑开没有内容的行 */
      &::after {
        content: ' ';
      }
    }

    .highlighted,
    .diff {
      @apply relative break-all;

      &::before {
        @apply absolute left-0 top-0 h-full w-[2px];
        content: '';
      }
    }

    .diff.add {
      @apply bg-green-100 dark:bg-green-900;

      &::before {
        @apply bg-green-500;
      }

      &::after {
        content: ' +';
        @apply absolute left-0 text-green-500;
      }
    }

    .diff.remove {
      @apply bg-red-100 dark:bg-red-900;

      &::before {
        @apply bg-red-500;
      }

      &::after {
        content: ' -';
        @apply absolute left-0 text-red-500;
      }
    }

    .highlighted {
      @apply bg-accent/20;

      &::before {
        @apply bg-accent;
      }
    }
  }

  pre {
    @apply rounded-none;
  }
}
